node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env

!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Databases
users.db
logs.db

.DS_Store
access-control/
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.dev
# .env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore files for PNPM, NPM and YARN
*-workspace